body {
  background-color: #2e3242;
  background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
  height: 100%;
  position: absolute;
  width: 100%;
}

main {
  margin: 3rem auto;

  .game-title {
    margin-bottom: 1rem;
  }
}
