.game-wrapper {
  margin: 0 auto;
  max-width: 900px;
}

.game-container {
  background: rgba(255,255,255,.25);
  border-radius: 10px;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  width: 85%;

  p {
    background: $slate;
    border: 1px solid $gold;
    bottom: 0;
    color: $gold;
    left: 0;
    padding: .5rem;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}

.tile-container {
  margin: 1rem;
  width: 115px;

  .back{
    &:hover {
    animation: bounce 1s ease infinite;
    cursor: pointer;
    }
  }
  .front {
    border-radius: 50%;
  }
  .paired {
    animation: bounce 1s ease;
  }
  .missed {
    animation: shake 3s ease;
  }
}

.health-container {
  margin: 1rem auto;


  .health-bar {
    flex-wrap: wrap;
    justify-content: center;
    .hp {
      background: $light;
      border-right: 2px solid $slate;
      height: 25px;
      margin-bottom: .5rem;
      width: 25px;

      &:first-of-type {
        border-left: 2px solid $slate;
      }
    }
  }
}
